img.attachment.user.icon_image{
	width:100px;
	height:100px;
	margin-top:20px;
}
body {
	padding-left:20px;
	padding-right:20px;
}
div.center {
	text-align:center;
}
.mgb10 {
	margin-bottom:10px;
}
.vhmiddle {
	margin-top:100px;
	text-align:center;
}
.title {
	font-size:100px;
}
.content {
	margin-left:40px;
}